@model FoundryLanding.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TODO: list of available games for user @Model.UserModel.UserName#@Model.UserModel.Discriminator</p>
</div>